.registration-form-container4 {
  width: 300px;
  margin:50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding-top: 10px;
  height: 80vh;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  height: 8.7vh;
}

.input-field-reg {
  width: 130%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* .input-field-confirm-password-input{
  width: 150%;
  padding: 10px;
  border-radius:3px;
  border: 1px solid #ccc;
}
.input-field-password-input{
  width: 150%;
  padding: 10px;
  border-radius:3px;
  border: 1px solid #ccc;
} */
button {
  width: 100%;
  padding: 8px;
  background-color: rgb(97, 157, 117);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(16, 174, 42);
  color: black;
}
